.movie-list {
    background-color: rgba(0, 0, 0, 0.6); 

    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
